<!-- dashboard.html.erb -->

User Dashboard

<div>
  <h1>My studios</h1>
  <% if @studios %>
    <% @studios.each do |studio|%>
      <%= studio.name %>
      <%= cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>

  <% if @bookings %>
    <% @bookings.each do |booking|%>
      <%= booking.studio.name %>
      <%= booking.user.first_name %>
      <button> <%= link_to "add a review", new_booking_review_path(booking.id,Review.new) %> </button>
      <button> <%= link_to "delete booking", studio_booking_path(booking.studio.id, booking.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %> </button>

    <% end %>
  <% else %>
    <p>No studios</p>
  <% end %>
</div>

<br>
<br>

<div>
  <h1>My Bookings</h1>
  <% if @bookings %>
    <% @bookings.each do |booking|%>
      <%= booking.studio.name %>
      <%= booking.user.first_name %>
      <%= cl_image_tag booking.photo, height: 300, width: 400, crop: :fill %>
      <button> <%= link_to "add a review", new_booking_review_path(booking.id,Review.new) %> </button>

  <% if @studios %>
    <% @studios.each do |studio|%>
      <%= studio.name %>
      <%= cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>
      <button> <%= link_to "Edit studio", edit_studio_path(studio) %> </button>
      <button> <%= link_to "delete studio", studio_path(studio),
      method: :delete,
      data: { confirm: "Are you sure?" } %> </button>
    <% end %>
  <% else %>
    <p>No bookings</p>
  <% end %>
</div>


