<!-- dashboard.html.erb -->

User Dashboard

  <h1>My Studio's Bookings</h1>
  <% if @studios.present? %>
  <% @studios.each do |studio|%>
    <% studio.bookings.each do |booking| %>
      <%= booking.status %>
      <button> <%= link_to "confirm", confirm_path(booking),method: :post,
      data: { confirm: "Are you sure?" } %> </button>
      <button> <%= link_to "cancel", cancel_path(booking),method: :patch,
      data: { confirm: "Are you sure?" } %> </button>
    <% end %>
<% end %>
<% else %>
<p>You dont own a studio </p>
<% end %>

<div>
  <h1>My studios</h1>
  <% if @studios %>
    <% @studios.each do |studio|%>
      <%= studio.name %>
      <%= cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

<br>
<br>

<div>
  <h1>My Bookings</h1>
  <% if @bookings %>
    <% @bookings.each do |booking|%>
      <%= booking.studio.name %>
      <%= booking.status %>
      <%= booking.user.first_name %>
      <%= cl_image_tag booking.studio.photo, height: 300, width: 400, crop: :fill %>
      <button> <%= link_to "add a review", new_booking_review_path(booking.id,Review.new) %> </button>
    <% end %>
  <% else %>
    <p>No bookings</p>
<% end %>


