
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="#home" class="nav-link active" data-toggle="tab">Studios</a>
    </li>
    <li class="nav-item">
        <a href="#profile" class="nav-link" data-toggle="tab">Bookings</a>
    </li>
    <li class="nav-item">
        <a href="#messages" class="nav-link" data-toggle="tab">Booked studio</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="home">
      <h1 class="header">My Studios</h1>
      <div class="d-flex justify-content-around navtab-grid">
        <% if @studios %>
          <% @studios.each do |studio|%>
          <div>
            <%= link_to studio_path(studio) do %>
              <div class="card">
                <%= studio.name %>
                <%= cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>
              </div>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="profile">
        <h1 class="header">My Bookings</h1>
        <div class="d-flex justify-content-around navtab-grid">
          <% if @bookings %>
            <% @bookings.each do |booking|%>
            <div>
              <%= link_to studio_path(booking.studio) do %>
                <div class="card">
                  <div>
                    <%= booking.studio.name %>
                  </div>

                  <div>
                    <%= cl_image_tag booking.studio.photo, height: 300, width: 400, crop: :fill %>
                  </div>

                  <div>
                    <%= booking.user.first_name %>
                  </div>

                  <div>
                    <button>
                      <%= link_to "add a review", new_booking_review_path(booking.id,Review.new) %>
                    </button>
                  </div>

                </div>
              <% end %>
              </div>
            <% end %>
          <% else %>
            <p>No bookings</p>
          <% end %>
        </div>
    </div>
    <div class="tab-pane fade" id="messages">
        <h1 class="header">My Studio's Bookings</h1>
        <div class="d-flex justify-content-around navtab-grid">
          <% if @studios&.present? %>

            <%# @studios.each do |studio|%>

              <% @user_studio_bookings.each do |booking| %>
                <div>
                <%= link_to(studio_path(booking.studio)) do %>
                  <div class="test-card">

                    <div>
                      <h3><%= booking.studio.name %></h3>
                      <p><%= booking.studio.address  %></p>
                    </div>

                    <div>
                      <%= cl_image_tag booking.studio.photo, height: 300, width: 400, crop: :fill %>
                    </div>

                    <div class="test-card-buttons">

                      <button>
                        <%= link_to "confirm", confirm_path(booking),method: :post,
                        data: { confirm: "Are you sure?" } %>
                      </button>

                      <button>
                        <%= link_to "cancel", cancel_path(booking),method: :patch,
                        data: { confirm: "Are you sure?" } %>
                      </button>

                    </div>

                  </div>
                <% end %>
                </div>
              <% end %>
            <%# end %>
          <% else %>
            <p>You dont own a studio </p>
          <% end %>
        </div>
    </div>
</div>










