<h1 class="header">My Studios</h1>
<div class="d-flex justify-content-around">
  <% if @studios %>
    <% @studios.each do |studio|%>
      <%= link_to studio_path(studio) do %>
        <div class="card">
          <%= studio.name %>
          <%= cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<br>
<br>

<h1 class="header">My Bookings</h1>
<div class="d-flex justify-content-around">
  <% if @bookings %>
    <% @bookings.each do |booking|%>
      <%= link_to studio_path(booking) do %>
        <div class="card">
          <div>
            <%= booking.studio.name %>
          </div>

          <div>
            <%= cl_image_tag booking.studio.photo, height: 300, width: 400, crop: :fill %>
          </div>

          <div>
            <%= booking.user.first_name %>
          </div>

          <div>
            <button>
              <%= link_to "add a review", new_booking_review_path(booking.id,Review.new) %>
            </button>
          </div>

        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No bookings</p>
  <% end %>
</div>

<br>
<br>

<h1 class="header">My Studio's Bookings</h1>
<div class="d-flex justify-content-around">
  <% if @studios.present? %>

    <% @studios.each do |studio|%>
      <% studio.bookings.each do |booking| %>

        <%= link_to studio_path(booking) do %>
        <% info = @bookings.first %>
          <div class="test-card">

            <div>
              <h3><%= info.studio.name %></h3>
              <p><%= info.studio.address  %></p>
            </div>

            <div>
              <%= cl_image_tag info.studio.photo, height: 300, width: 400, crop: :fill %>
            </div>

            <div class="test-card-buttons">

              <button>
                <%= link_to "confirm", confirm_path(booking),method: :post,
                data: { confirm: "Are you sure?" } %>
              </button>

              <button>
                <%= link_to "cancel", cancel_path(booking),method: :patch,
                data: { confirm: "Are you sure?" } %>
              </button>

            </div>

          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p>You dont own a studio </p>
  <% end %>
</div>
