<!-- dashboard.html.erb -->

User Dashboard

<div>
  <% if @bookings %>
    <% @bookings.each do |booking|%>
      <%= booking.studio.name %>
      <%= booking.user.first_name %>
      <button> <%= link_to "add a review", new_booking_review_path(booking.id,Review.new) %> </button>

    <% end %>
  <% else %>
    <p>No bookings</p>
  <% end %>
</div>

<br>
<br>

<div>
  <% if @studios %>
    <% @studios.each do |studio|%>
      <%= studio.name %>
      <%= cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% else %>
    <p>No studios</p>
  <% end %>
</div>
