
<div class="home-banner">
<%= render 'shared/homepage_navbar' %>

<div class="bannercontainer">
    <div class="form-banner">

        <%= simple_form_for :search, url: studios_path, method: :get  do |f| %>
          <%= f.input_field :category, collection: ["Recording Studio","Photography studio","Dance studio"], include_blank: false, include_hidden: false,
            label: false %>
          <%= f.input_field :city, collection: ["Milan"], include_blank: false, include_hidden: false,
            label: false %>
          <%= f.button :submit, "Search", class: 'search-btn' %>
        <% end %>
    </div>
</div>

</div>
