<div class="home-banner">
  <div class="navbar navbar-expand-sm navbar-light navbar-arthub">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "thearthublogo (1)" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item-active">
          <%= link_to "", "/", class: "nav-link" %>
        </li>

        <li class="nav-item-active">
          <%= link_to "Add a Studio", "/studios/new", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/kmontes417
", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", "/dashboard", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "navbarlinkclass" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

  <h1 class="banner-title"></h1>
  <div class="container">
    <div class="row landing_header">
      <div class="col-12">
        <%= simple_form_for :search, url: studios_path, method: :get  do |f| %>
          <%= f.input :category, collection: ["Recording Studio","Photography studio","Dance studio"], include_blank: false, include_hidden: false,
            label: false %>
          <%= f.input :city, collection: ["Milan"], include_blank: false, include_hidden: false,
            label: false   %>
          <%= f.button :submit, "Search", class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <%= "" %>
      </div>
    </div>
  </div>
</div>
