<!-- edit.html.erb -->
<div class="col-md-8">
  <h1>Edit a studio</h1>

  <%= simple_form_for @studio do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>
    <p>Category</p>
    <%= f.input_field :category, collection: ["Recording Studio","Photography studio","Dance studio"], include_blank: false, include_hidden: false, label: false, class: 'input-field-dropdown' %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :photo %>
    <%= f.button :submit, class: 'search-btn' %>
  <% end %>
</div>


