  <div class="flex-container">
   <div class="row">
    <div class="col-8">
    <% @studios.each do |studio| %>


    <p><%= studio.name %></p>
    <p><%= studio.address %></p>
    <p><%= studio.category %></p>
    <p><%= studio.description %></p>
    <p><%= studio.price %></p>
    <%= cl_image_tag studio.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
    </div>

    <div class="col-4"
    id="map"
    style="width: 75%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  </div>

</div>
