  <% @studios.each do |studio| %>
  <img src="<%= studio.photo %>" alt="">
  <p><%= studio.name %></p>
  <p><%= studio.address %></p>
  <p><%= studio.category %></p>
  <p><%= studio.description %></p>
  <p><%= studio.price %></p>
  <% end %>
